@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ーーーーヘッダーーーーーー */
html{
    scroll-behavior: smooth;
}

body{
    background-color: #e8d9bf;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}
h1{
    width: 187px;
}
.pc_nav ul{
    display: flex;

}
.pc_nav ul li{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-right: 56px;
    width: 105px;

}
.pc_nav ul li:last-child{
    margin-right: 0;
}
.slider img{
    width: 100%;
}
.slick-dots{
    bottom: 20px;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{
    color: #fff;
}

/* ハンバーガーメニュー削除 */
.hum_menu_btn,.sp_nav{
    display: none;
}

/* ーーーーメインーーーー */

.subtitle{
    text-align: center;
    padding-top: 105px;
    font-size: 30px;
}
.subtitle h2{
    font-size: 82px;
    padding-top: 52px;
    font-weight: lighter;

}
.subtitle p:last-child{
    font-size: 23px;
    padding-top: 45px;
    line-height: 1.65;
}
/* ------------------------------ */

.about-us{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 95px 10px;
    box-sizing: border-box;
}

.coffee-photo{
    width: 50%;
}
.coffee-photo img{
    border-radius: 0 0 50px 0;

}
.text-wrapper{
    width: 42%;

}
.text-title{
    width: 272.3px;
    padding: 55px 0 40px;

}
.text-title2{
    font-size: 44px;
    line-height: 1.38;
    padding-bottom: 40px;
}
.text-wrapper p:last-child{
    font-size: 16px;
    line-height: 1.62;
}
.mobile-title{
    display: none;
}

/* ------------------------------ */ 
.menu{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 95px;
    box-sizing: border-box;
    scroll-margin-top: 30px;
}
.menu-title{
    width: 151.3px;
    margin: 0 auto;
    padding-bottom: 56px;
}

.menu-wrapper{
    display: flex;
    justify-content: space-between;
}
.menu-item{
    width: 30%;

}
.menu-item img{
    width: 100%;
    border-radius: 0 50px 0 0;
}
h4{
    font-size: 38px;
    color: red;
    margin: -20px 0 10px 10px;
}
.menu-text{
    font-size: 17px;
    line-height: 1.47;
}

/* ------------------------------ */
.gallery{
    scroll-margin-top: 30px;
    padding-bottom: 59.5px;
}
.gallery-title{
    width: 245px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.photo-wrapper{
    position: relative;
    display: flex;
    width: 100%;
}
.photo-wrapper img{
    width: 20%;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;
	z-index: 1;
    top: 42%;
    cursor: pointer;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    height: 20px;
    width: 20px;
}

/*戻る矢印*/
.slick-prev {
    left:22%;
    transform: rotate(-135deg);
}
/*次へ矢印*/
.slick-next {
    right:22%;
    transform: rotate(45deg);
}
/* デフォルト矢印消す */
.slick-next::before{
    display: none;
}
.slick-prev::before{
    display: none;
}

/* ------------------------------ */
.event{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px 88px;
    scroll-margin-top: 30px;
   
}
.event-title{
    width: 173.8px;
    margin: 0 auto;
    padding-bottom: 28px;
}
.news{
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border: 3.6px solid #4f260b;
    display: block;
}
.news-box{
    padding: 32.7px 158px;
}
.news-box li{
    display: flex;
    font-size: 23px;
    line-height: 1.95;
}
.news-box span{
    padding-left: 56.4px;
    text-decoration: underline;
}
.br-sp{
    display: none;
}
/* .br-2{
    padding-left: 56.4px;
    text-decoration: underline;
} */

/* ------------------------------ */
.access{
    max-width: 100%;
    margin: 0 auto;
    scroll-margin-top: 30px;
}
.access-title{
    width: 213.8px;
    margin: 0 auto;
    padding-bottom: 37px;
}
.map iframe{
    width: 100%;
    height: 471.26px;
}

/* ーーーーフッターーーーー */
footer{
    background-color: #fff;

}
.footer-wrapper{
    max-width: 1000px;
    display: flex;
    justify-content: left;
    margin: auto;
    padding: 72px 10px;
}

.footer-logo{
    width: 226.7px;
}
.address{
    font-size: 20px;
    line-height: 1.95;
    padding-left: 56px;
}
.copyright{
    text-align: center;
    padding-bottom: 72px;
    font-size: 16px;
}
.toTop{
    width: 125px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width:1100px){
    /* ハンバーガーメニュー */
    .pc_nav{
        display: none;

    }
    .hum_menu_btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 24px;
        /* top: 10px;
        right: 10px; */
        cursor: pointer;
        height: 33px;
        z-index: 9999;
    }
    .hum_menu_btn span{
        background-color: #fff;
        display: block;
        height: 3px;
        width: 33px;
        position: relative;
        transition: 0.3s;
        top: 10px;
        /* top: 20px;
        right: 24px; */
    }
    .hum_menu_btn span::before,
    .hum_menu_btn span::after{
        content:'';
        background-color: #fff;
        display: block;
        height: 3px;
        width: 33px;
        position: absolute;
        transition: 0.3s;

    }
    .hum_menu_btn span::before{
        bottom: 10px;
    }
    .hum_menu_btn span::after{
        top: 10px;
    }
    .open span{
        background: transparent;
    }
    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after{
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav{
        height: 100vh;
        background:rgba(0,0,0,0.8) ;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

    }
    .sp_nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .sp_nav ul li{
        color: #fff;
        text-align: center;
        font-size: 17px;
        padding: 15px 0;
        font-family:"游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
    /* -------文字サイズ調整--------- */
    .subtitle h2{
        font-size: 7.45vw;
    }
    .text-title2{
        font-size: 4vw;
        line-height: 1.38;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:767px){
    .header-wrap{
        padding:14.5px 0 0 20px;
    }
    .subtitle{
        font-size: 4.53vw;
        padding-top: 42.9px;
    }
    .subtitle h2{
        font-size: 10.13vw;
        padding-top: 32px;
        line-height: 1.15;
    }
    .subtitle p:last-child{
        font-size: 4.26vw;
        line-height: 1.87;
        text-align: center;
        padding: 27px 20px 0;
    }
    
    /* ------------------------ */
    .about-us{
        display: block;
        padding:58px 0 31px;
    }
    .coffee-photo,.text-wrapper{
        width: 100%;
    }
    .coffee-photo img{
        border-radius: 0%;
    }
    .text-title{
        display: none;
    }
    .text-title2{
        font-size: 9.6vw;
        padding: 35px 20px 31px;
    }
    .text-wrapper p:last-child{
        font-size: 4.26vw;
        line-height: 1.75;
        padding: 0 20px;
        text-align: justify;
    }
    .mobile-title{
        display: block;
        width: 160px;
        margin: 0 auto;
        padding-bottom: 17px;
    }

    /* -------------------------- */
    .menu{
        padding: 0 38px;

    }
    .menu-wrapper{
        display: block;
    }
    .menu-title{
        width: 87.8px;
        padding-bottom: 22px;
    }
    .menu-item{
        width: 100%;
        padding-bottom: 73px;
        box-sizing: border-box;
    }
    h4{
        margin-bottom: 20px;
    }

    /* -------------------------- */
    .gallery-title{
        width: 142.2px;
    }
    .photo-wrapper{
        display: block;
    }
    .photo-wrapper img{
        width: 100%;
    }
    .slick-prev, 
    .slick-next {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    }
    /*戻る矢印*/
    .slick-prev {
        left:3%;
        transform: rotate(-135deg);
    }

    /*次へ矢印*/
    .slick-next {
        right:3%;
        transform: rotate(45deg);
    }

    /* -------------------------- */
    .event{
        padding: 0 20px 33px;
    }
    .event-title{
        width: 100.8px;
    }
    .news-box{
        padding:20px 0 0 31px;
        align-items: center;
    }
    .news-box li{
        display: block;
        font-size: 4.26vw;
        line-height: 1.2;
        padding-bottom: 29px;
        text-overflow: ellipsis;
    }
    .br-sp{
        display: block;
    }
    .news-box span{
        display: block;
        padding-left: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    /* .news1{
        width: 13em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .news2,.news3{
        width: 17em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .news3{
        width: 16em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    } */

    /* .br-2::before{
        content: "\A";
        white-space: pre;
        padding-left: 0;
    } */

    /* -------------------------- */
    .access-title{
        width: 124px;
        padding-bottom: 5px;
    }
    .map iframe{
        width: 100%;
        height: 191.3px;
    }

    /* -------------------------- */
    .footer-wrapper{
        display: block;
        padding: 48px 20px;
    }
    .footer-logo{
        padding-bottom: 35px;
    }
    .address{
        font-size: 18px;
        line-height: 1.72;
        padding-left: 0;
    }
    .copyright{
        padding-bottom: 33px;
    }
    .toTop{
        width: 100px;
    }








}