@charset "utf-8";

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}




.header{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}
.navigation{
    display: flex;
    padding-top: 10px;

}
.navigation li{
    padding: 0 30px;
}

.navigation li+li{
    border-left: 1px solid #000;
}


/* --------レスポンシブ--------- */
@media screen and (max-width:767px){
    
    .header{
        display: block;
    }
    .navigation{
        display: block;
    }
    .navigation li{
        border-bottom:2px solid #000;
        font-size: 20px;
        padding: 0 0 20px 10px;
        margin: 0 0 20px 10px;
    }
    .navigation li+li{
        border-left: none;
    }
    h1{
        font-size: 40px;
        padding: 0 0 20px 10px;
    }
    
}